.bar { fill:  var(--green); }
.radio-inline{ margin-left: 20px; }

div.tooltip {
    position: absolute;
    text-align: center;

    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2.5px;
}

.bettas{
  background-color: var(--blue);
}

.catfish{
  background-color: var(--yellow);
}

.cichlids{
  background-color: var(--red);
}

.livebearers{
    background-color: var(--orange);
}

/* https://coolors.co/1be7ff-6eeb83-e4ff1a-ffb800-ff5714 */
:root {
  --blue: #1BE7FF;
  --green: #6EEB83;
  --yellow: #E4FF1A;
  --orange: #FFB800;
  --red: #FF5714;
}